section.card {
  background: var(--card);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 20px;
  margin-bottom: 30px;
  border: 2px solid var(--accent-900);
  h5{
    text-align:end
  }
}
section.card h2 {
  margin-top: 0;
  text-align: center;
  color: var(--accent-700);
}
/*media q.....*/
@media (max-width: 425px) {

  section.card {
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
  }

  section.card h2 {
    font-size: 1.2rem;
  }
}
/*................*/
@media (max-width: 375px) {

  section.card {
    padding: 12px;
    margin-bottom: 18px;
  }

  section.card h2 {
    font-size: 1.1rem;
  }
}
